<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liyf.infohome.dao.HotSearchV2Mapper">
  <resultMap id="BaseResultMap" type="top.liyf.infohome.model.weibo.HotSearchV2">
    <!--@mbg.generated-->
    <!--@Table weibo_hot_search_v2-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="word" jdbcType="VARCHAR" property="word"/>
    <result column="emoticon" jdbcType="VARCHAR" property="emoticon"/>
    <result column="rank" jdbcType="INTEGER" property="rank"/>
    <result column="num" jdbcType="BIGINT" property="num"/>
    <result column="state" jdbcType="INTEGER" property="state"/>
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, word, emoticon, `rank`, num, `state`, record_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from weibo_hot_search_v2
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.liyf.infohome.model.weibo.HotSearchV2"
          useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into weibo_hot_search_v2 (word, emoticon, `rank`,
    num, `state`, record_time)
    values (#{word,jdbcType=VARCHAR}, #{emoticon,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER},
    #{num,jdbcType=BIGINT}, #{state,jdbcType=INTEGER}, #{recordTime,jdbcType=TIMESTAMP})
  </insert>
</mapper>