<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liyf.infohome.dao.MovieMapper">
  <resultMap id="BaseResultMap" type="top.liyf.infohome.model.movie.Movie">
    <!--@mbg.generated-->
    <!--@Table movie-->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="imdb_code" jdbcType="VARCHAR" property="imdbCode"/>
    <result column="db_code" jdbcType="INTEGER" property="dbCode"/>
    <result column="chinese_title" jdbcType="VARCHAR" property="chineseTitle"/>
    <result column="original_title" jdbcType="VARCHAR" property="originalTitle"/>
    <result column="other_title" jdbcType="VARCHAR" property="otherTitle"/>
    <result column="year" jdbcType="INTEGER" property="year"/>
    <result column="genre" jdbcType="VARCHAR" property="genre"/>
    <result column="country" jdbcType="VARCHAR" property="country"/>
    <result column="initial_release_date" jdbcType="VARCHAR" property="initialReleaseDate"/>
    <result column="runtime" jdbcType="INTEGER" property="runtime"/>
    <result column="mpaa_rating" jdbcType="VARCHAR" property="mpaaRating"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, imdb_code, db_code, chinese_title, original_title, other_title, `year`, genre,
    country, initial_release_date, runtime, mpaa_rating, update_time
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="top.liyf.infohome.model.movie.Movie"
          useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into movie (imdb_code, db_code, chinese_title,
                       original_title, other_title, `year`,
                       genre, country, initial_release_date,
                       runtime, mpaa_rating, update_time)
    values (#{imdbCode,jdbcType=VARCHAR}, #{dbCode,jdbcType=INTEGER}, #{chineseTitle,jdbcType=VARCHAR},
            #{originalTitle,jdbcType=VARCHAR}, #{otherTitle,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER},
            #{genre,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{initialReleaseDate,jdbcType=VARCHAR},
            #{runtime,jdbcType=INTEGER}, #{mpaaRating,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="top.liyf.infohome.model.movie.Movie">
    <!--@mbg.generated-->
    update movie
    <set>
      <if test="imdbCode != null">
        imdb_code = #{imdbCode,jdbcType=VARCHAR},
      </if>
      <if test="dbCode != null">
        db_code = #{dbCode,jdbcType=INTEGER},
      </if>
      <if test="chineseTitle != null">
        chinese_title = #{chineseTitle,jdbcType=VARCHAR},
      </if>
      <if test="originalTitle != null">
        original_title = #{originalTitle,jdbcType=VARCHAR},
      </if>
      <if test="otherTitle != null">
        other_title = #{otherTitle,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        `year` = #{year,jdbcType=INTEGER},
      </if>
      <if test="genre != null">
        genre = #{genre,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="initialReleaseDate != null">
        initial_release_date = #{initialReleaseDate,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        runtime = #{runtime,jdbcType=INTEGER},
      </if>
      <if test="mpaaRating != null">
        mpaa_rating = #{mpaaRating,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-01-07-->
  <select id="selectOneByDbCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from movie
    where db_code=#{dbCode,jdbcType=INTEGER}
  </select>
</mapper>